* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  src: url('/fonts/Raleway.ttf');
  font-family: Raleway;
}
@font-face {
  src: url('/fonts/Raleway-Bold.ttf');
  font-family: RalewayBold;
}
@font-face {
  src: url('/fonts/Raleway-SemiBold.ttf');
  font-family: RalewaySemi;
}
@keyframes Fadein {
   100% {
     opacity: 1;
   }
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #ffffff;
  margin: 20% auto;
  padding: 20px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.closebtn {
  float: right;
  color: grey;
  font-size: 30px;
}
.closebtn:hover {
  color: black;
  cursor: pointer;
}
.modal-header h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.modal-header p {
  font-family: Raleway;
}
.modal-header .button {
  font-family: sans-serif;
  font-weight: bold;
  background-color: #519DFF;
  padding: 10px 10px 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
}
.modal-header .button:hover {
  cursor: pointer;
}
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  font-family: Raleway;
  opacity: 0;
  z-index: 1;
  animation: 1s Fadein 0.5s forwards;
}
header h2 {
  font-weight: lighter;
  font-size: 30px;
}
header nav {
  display: flex;
}
header nav li {
  list-style: none;
  margin: 0 15px;
}
header nav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 20px 0;
  color: #000000;
}

/* Full Screen Navigation */

.nav-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
.full-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full-nav .closeNav {
  position: fixed;
  top: 40px;
  left: 50px;
  font-weight: bold;
  color: white;
  font-size: 50px;
}
.full-nav .closeNav:hover {
  cursor: pointer;
}
.full-nav .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.full-nav .content li {
  list-style: none;
}
.full-nav .content li a {
  font-size: 35px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
}

/* Payment Section */

.payment-wrapper-2 {
  display: none;
}
.payment-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.payment-form {
  background-color: white;
  padding: 40px;
  font-family: Raleway;
  text-align: center;
  z-index: 2;
}
.payment-form h2{
  font-size: 35px;
  font-weight: bolder;
}
.payment-form .input-section {
  padding: 10px;
}
.payment-form .input-section input[type="text"] {
  width: 100%;
  padding: 10px;
}
.payment-form .last-input-section .item{
  padding: 10px;
}
.payment-form .last-input-section .item input[type="text"] {
  width: 100%;
  padding: 10px;
}
.payment-form .button-section {
  margin-top: 25px;
}
.payment-form .button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.payment-form .button-section p:hover {
  cursor: pointer;
}
.payment-form .button-section .pay-button p {
  color: white;
  background-color: #519DFF;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}
.payment-form .button-section .cancel-button p{
  color: white;
  background-color: #F44336;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}
header .burger-nav {
  display: none;
}
header .burger-nav:hover {
  cursor: pointer;
}
header .burger-nav div{
width: 35px;
height: 5px;
margin: 5px;
border-radius: 5px;
background-color: #000000;
}
@media (max-width: 600px) {
  header {
    padding: 35px 60px 0px;
  }
  header h2 {
    font-size: 18px;
  }
  header nav li a {
    font-size: 13px;
    padding: 0px 6px 0;
  }
  header nav {
    display: none;
  }
  header .burger-nav {
    display: inline-block;
  }
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 80px;
}

/* Home-section */

#Home-section {
  position: relative;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
#Home-section .background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.main-content {
  opacity: 0;
  animation: 1s Fadein 0.5s forwards;
}
.main-content h1 {
  font-family: Raleway;
  font-size: 35px;
  font-weight: lighter;
  margin-bottom: 25px;
}
.main-content a{
   text-align: center;
   text-decoration: none;
   color: #ffffff;
   border-radius: 4px;
   background-color: #519DFF;
   font-family: sans-serif;
   font-size: 18px;
   font-weight: bold;
   padding: 10px 25px;
}

/* About-section */

#About-section {
  position: relative;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
.main-text {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px 25px;
}
.main-text h1{
  font-family: Raleway;
  font-weight: lighter;
  color: #519DFF;
  font-size: 35px;
  margin-bottom: 15px;
}
.main-text p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: bolder;
}
@media (max-width: 550px) {
  .main-text {
    width: 300px;
  }
}

/* Shop-section */

#Shop-section {
  position: relative;
  align-items: center;
  text-align: center;
}

.main-shop {
  font-family: Raleway;
}
.main-shop img {
  margin-bottom: 20px;
}
.main-shop h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.main-shop p {
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #519DFF;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}
.main-shop p:hover {
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #424242;
  padding: 15px;
}
footer p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
